body{
    background-image: url(../static/bg5img.jpg);
    background-size: cover;
    text-align: center;
}
.logo{
    height: 150px;
    width: 150px;
}
h1{
    font-size: 45px;
    color: darkgray;
}
.btn{
    font-size: 20px;
    letter-spacing: 2;
}
.button_form:hover{
    opacity: 0.5;
}